body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f2f7ff;
}

.main-header {
    background: #0d47a1;
    color: white;
    padding: 15px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-header button {
    background: white;
    color: #0d47a1;
    border: none;
    padding: 6px 12px;
    border-radius: 5px;
    cursor: pointer;
}

.container {
    padding: 30px;
}

.card {
    background: white;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 30px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.card input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
}

.card button {
    background: #0d47a1;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    text-align: left;
}

.action-btn {
    margin-right: 5px;
    cursor: pointer;
}

.delete-btn {
    background-color: #e53935;
    color: white;
    border: none;
    padding: 6px 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 13px;
}

.delete-btn:hover {
    background-color: #c62828;
}



.edit-btn {
    background-color: #1976d2;   /* blue */
    color: white;
    border: none;
    padding: 6px 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 6px;
}

.edit-btn:hover {
    background-color: #125aa3;
}

.delete-btn {
    background-color: #e53935;   /* red */
    color: white;
    border: none;
    padding: 6px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.delete-btn:hover {
    background-color: #c62828;
}

