body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f2f7ff;
}

.main-header {
    background-color: #0d47a1;
    color: white;
    padding: 15px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-header button {
    background: white;
    color: #0d47a1;
    border: none;
    padding: 8px 14px;
    border-radius: 5px;
    cursor: pointer;
}

.container {
    padding: 30px;
}

.card {
    background: white;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 30px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.card h3 {
    margin-top: 0;
}

.card input,
.card select {
    width: 100%;
    padding: 10px;
    margin-bottom: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.card button {
    background-color: #1976d2;
    color: white;
    border: none;
    padding: 10px 14px;
    border-radius: 5px;
    cursor: pointer;
}

.card button:hover {
    background-color: #125aa3;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    text-align: left;
}

.delete-btn {
    background-color: #e53935;
    color: white;
    border: none;
    padding: 6px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.delete-btn:hover {
    background-color: #c62828;
}