body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f2f7ff;
}

.main-header {
    background: #0d47a1;
    color: white;
    padding: 20px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-right button {
    margin-left: 10px;
    padding: 8px 14px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.dashboard {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
    padding: 40px;
}

.card {
    background: white;
    padding: 30px;
    border-radius: 12px;
    text-align: center;
    cursor: pointer;

    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    transition: transform 0.2s;
}

.card:hover {
    transform: translateY(-5px);
}