body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f2f7ff;
}

/* Header */
.main-header {
    background-color: #0d47a1;
    color: white;
    padding: 15px 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-header button {
    background: white;
    color: #0d47a1;
    border: none;
    padding: 8px 14px;
    border-radius: 5px;
    cursor: pointer;
}

/* Content */
.content {
    padding: 30px;
}

/* Table */
table {
    width: 100%;
    border-collapse: collapse;
    background: white;
}

thead {
    background-color: #e3f2fd;
}

th, td {
    padding: 12px;
    border-bottom: 1px solid #ccc;
    text-align: left;
}

button.update-btn {
    background-color: #1976d2;
    color: white;
    border: none;
    padding: 6px 12px;
    border-radius: 4px;
    cursor: pointer;
}

button.update-btn:hover {
    background-color: #0d47a1;
}/* ===== SEARCH BOX ===== */
.search-box {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.search-box input {
    flex: 1;
    padding: 10px;
    border: 1px solid #1976d2;
    border-radius: 5px;
    font-size: 14px;
}

.search-box button {
    padding: 10px 18px;
    background-color: #1976d2;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.search-box button:hover {
    background-color: #0d47a1;
}